{% extends 'base.html' %}
{% block content %}
<div class="container" style="width:100%;margin-top:50px; color:#9d9d9d;">
  	<h3 style="text-align:center;"><b>Change password</b></h3>
    <div class="container">
      <p>{{message}}</p>
      <form method="post">
  		{% csrf_token %}
  		{{ form }}
  		<button type="submit">Save changes</button>
	  </form>
    </div>


</div>
<script>
  $(document).ready(function(){
    $("#changepassword").click(function(){
      if($("#changepasswordform").hasClass("hide")){
        $("#changepasswordform").removeClass("hide");
      }else{
        $("#changepasswordform").addClass("hide");
      }
    });
  })
</script>
{% endblock %}
