{% extends 'base.html' %}
{% block content %}
<div class="container" style="width:100%;margin-top:50px">
  	<h3 style="text-align:center;"><b>COURSES</b></h3>
    {% if courses %}
      {% for i in courses %}
        <div>
          <span class="label label-success">{{i.grade}}</span>
          <span class="label label-success">{{i.year}}</span>
        </div><br>
        <table class="table table-bordered">
      	    <thead>
      	      <tr>
      	        <th>Subject Name</th>
      	        <th>T First Name</th>
      	        <th>T Last Name</th>
      	        <th >T Email</th>
      	      </tr>
      	    </thead>
      	    <tbody>
      	    	{% for s,j in i.subjects.items %}

      		    	<tr>
      			  		<td>{{s}}</td>
      			  		<td>{{j.tfname}}</td>
      			  		<td>{{j.tlname}}</td>
      			  		<td>{{j.temail}}</td>
      			  	</tr>
      	  		{% endfor %}
      	    </tbody>

        </table>
      {% endfor %}
    {% else %}
      <h2 style="text-align:center;">No courses available to show</h2>
    {% endif %}
</div>
{% endblock %}
