{% extends 'base.html'%}
{% block content %}
  	<div class="text-center container" style="margin-top:5%" >
  	{% if username %}
		<h5>{{message}}</h5>
	{% endif %}
	   <form class="form-signin" action="/createuser/" method="post">
	   	<div class="form-group">
	      <label>User Id</label>
	      <input name="username" type="text" class="form-control pull-right" placeholder="User Id" required autofocus><br>
	    </div>
	    {% if role != 1%}
		    <div class="form-group">
		      <label>First Name</label>
		      <input name= "fname"  type="text" id="fname" class="form-control" placeholder="First Name" required>
		    </div>
		    <div class="form-group">
		      <label>Last Name</label>
		      <input name= "lname"  type="text" id="lname" class="form-control" placeholder="Last Name" required>
		    </div>
		{% endif %}
	    <div class="form-group">
	      <label>Password</label>
	      <input name= "password"  type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	    </div>
	    <div class="form-group">
	      <label>Role</label>
	      {% if role == 1%}
	      	<input type="radio" name="role" value="2">School Admin
	      {% elif role == 2 %}
	      	<input type="radio" name="role"  id = "teacher" value="3">Teacher
	      	<input type="radio" name="role"  id = "student" value="4">Student
	      {% endif %}
	    </div>
	    {% if role == 1 %}
	    <div class="form-group">
	    	<label>School Code</label>
	    	<input name= "schoolcode"  type="text" id="schoolcode" class="form-control" placeholder="School Code" required>
	    	<label>School Name</label>
	    	<input name= "schoolname"  type="text" id="schoolname" class="form-control" placeholder="School Name" required>
	    </div>
	    {% endif %}
	    <div class="form-group">
	      <label>Email</label>
	      <input name= "email"  type="email" id="email" class="form-control" placeholder="Email" required>
	    </div>
	    {% if role == 2 %}
	    	<div class="form-group">
		    	<label>Sex</label>
		      	<input type="radio" name="sex" value="M">Male
		      	<input type="radio" name="sex" value="F">Female
		    </div>
		    <div class="form-group">
	      	      <label>Birthdate</label>
  					<input type="date" name="birth_date" id="bdate">
  			</div>
	    {% endif %}

	    <div class="form-group">
	    	<label>Address</label>
	    	<textarea name="address" for="address" class="form-control" rows="5" id="address" placeholder="Type address here..."></textarea>
	    	<label>City</label>
	    	<input name= "city"  type="text" id="city" class="form-control" placeholder="City" required>
	    	<label>Pincode</label>
	    	<input name= "pincode"  type="text" id="pincode" class="form-control" placeholder="Pincode" required>
	    </div>
	    {% if role == 2%}
		    <div id = "teachercntcno" class="form-group hide">
		    	<label>Contact No. 1</label>
		    	<input name= "teacher_cntc_1"  type="text" id="schoolcode" class="form-control" placeholder="Contact no. 1" >
		    	<label>Contact No. 2</label>
		    	<input name= "teacher_cntc_2"  type="text" id="schoolcode" class="form-control" placeholder="Contact no. 2 " >
		    	<label>Qualification</label>
		    	<input name= "qualification"  type="text" id="qualification" class="form-control" placeholder="Qualification" >
		    	<label>Expertise</label>
		    	<input name= "expertise"  type="text" id="expertise" class="form-control" placeholder="Expertise" >
		    </div>
		    <div id = "studentcntcno" class="form-group hide">
		    	<label>Student Cntc No.</label>
		    	<input name= "student_cntc_1"  type="text" id="schoolcode" class="form-control" placeholder="Student Cntc No." >
		    	<label>Parent Cntc No. 1</label>
		    	<input name= "parent_cntc_1"  type="text" id="schoolcode" class="form-control" placeholder="Parent Cntc No. 1" >
		    	<label>Parent Cntc No. 2</label>
		    	<input name= "parent_cntc_2"  type="text" id="schoolcode" class="form-control" placeholder="Parent Cntc No. 2 " >
		    	<label>Parent Email</label>
		      	<input name= "email_parent"  type="email" id="email" class="form-control" placeholder="Parent Email" >
		    </div>
		{% endif %}
	    <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">SUBMIT</button>

	    </form>
    </div>

	<script>


		$(document).ready(function(){

		    $('#student').click(function(){
				$("#teachercntcno").addClass("hide");
				$("#studentcntcno").removeClass("hide");
		    });
		    $('#teacher').click(function(){
		    	$("#studentcntcno").addClass("hide");
		    	$("#teachercntcno").removeClass("hide");
		    });

		});
	</script>
{% endblock %}
