<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  	.form-signin {
  width: 100%;
  /*max-width: 330px;*/
  padding: 0px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
#bdate{
	color:black;
}
/* .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}  */
  </style>
</head>
<body style="background-color: #123456; color:#FFFFFF" >
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid" style="background-color:#123456">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="/">School Manager</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	    <ul class="nav navbar-nav">
	      <li><a href="/">Home</a></li>
	      {% if role == 1 %}
	      	<li><a href="/createuser">Create School Account</a></li>
	      {% endif %}
	      {% if role == 2 %}
	      	<li><a href="/listallteachers">List All Teacher</a></li>
	      	<li><a href="/listallstudents">List All Student</a></li>
	      	<li class="active"><a href="/createuser">Create New Account</a></li>
	      	<!-- <li><a href="/createuser">Create Student Account</a></li> -->
	      {% endif %} 
	      {% if role == 3 %}
	      	<li><a href="/classlist">Class list</a></li>
	      	<li><a href="/studentlist">Student list</a></li>
	      	<!-- <li><a href="/createuser">Create Student Account</a></li> -->
	      {% endif %} 
	    </ul>
	    <ul class="nav navbar-nav pull-right">
	    	<li><a href="#">Profile</a></li>
	    	
	    	<li><a href="/logout/" >Logout</a></li>
	    	
	    </ul>
	    </div>
	  </div>
	</nav>
  
	
  	<div class="text-center container" style="margin-top:5%" >
  	{% if username %}
		<h5>{{message}}</h5>
	{% endif %}
	   <form class="form-signin" action="/createuser/" method="post">
	   	<div class="form-group">
	      <label>User Id</label>
	      <input name="username" type="text" class="form-control pull-right" placeholder="User Id" required autofocus><br>
	    </div>
	    {% if role != 1%}
		    <div class="form-group">
		      <label>First Name</label>
		      <input name= "fname"  type="text" id="fname" class="form-control" placeholder="First Name" required>
		    </div>
		    <div class="form-group">
		      <label>Last Name</label>
		      <input name= "lname"  type="text" id="lname" class="form-control" placeholder="Last Name" required>
		    </div>
		{% endif %}
	    <div class="form-group">
	      <label>Password</label>
	      <input name= "password"  type="password" id="inputPassword" class="form-control" placeholder="Password" required>
	    </div>
	    <div class="form-group">
	      <label>Role</label>
	      {% if role == 1%}
	      	<input type="radio" name="role" value="2">School Admin
	      {% elif role == 2 %}
	      	<input type="radio" name="role"  id = "teacher" value="3">Teacher
	      	<input type="radio" name="role"  id = "student" value="4">Student
	      {% endif %}
	    </div>
	    {% if role == 1 %}
	    <div class="form-group">
	    	<label>School Code</label>
	    	<input name= "schoolcode"  type="text" id="schoolcode" class="form-control" placeholder="School Code" required>
	    	<label>School Name</label>
	    	<input name= "schoolname"  type="text" id="schoolname" class="form-control" placeholder="School Name" required>
	    </div>
	    {% endif %}
	    <div class="form-group">
	      <label>Email</label>
	      <input name= "email"  type="email" id="email" class="form-control" placeholder="Email" required>
	    </div>
	    {% if role == 2 %}
	    	<div class="form-group">
		    	<label>Sex</label>
		      	<input type="radio" name="sex" value="M">Male
		      	<input type="radio" name="sex" value="F">Female
		    </div>
		    <div class="form-group">
	      	      <label>Birthdate</label>
  					<input type="date" name="birth_date" id="bdate">
  			</div>
	    {% endif %}
	
	    <div class="form-group">
	    	<label>Address</label>
	    	<textarea name="address" for="address" class="form-control" rows="5" id="address" placeholder="Type address here..."></textarea>
	    	<label>City</label>
	    	<input name= "city"  type="text" id="city" class="form-control" placeholder="City" required>
	    	<label>Pincode</label>
	    	<input name= "pincode"  type="text" id="pincode" class="form-control" placeholder="Pincode" required>
	    </div>
	    {% if role == 2%}
		    <div id = "teachercntcno" class="form-group hide">
		    	<label>Contact No. 1</label>
		    	<input name= "cntc 1"  type="text" id="schoolcode" class="form-control" placeholder="Contact no. 1" >
		    	<label>Contact No. 2</label>
		    	<input name= "cntc 2"  type="text" id="schoolcode" class="form-control" placeholder="Contact no. 2 " >
		    	<label>Qualification</label>
		    	<input name= "qualification"  type="text" id="qualification" class="form-control" placeholder="Qualification" >
		    	<label>Expertise</label>
		    	<input name= "expertise"  type="text" id="expertise" class="form-control" placeholder="Expertise" >
		    </div>
		    <div id = "studentcntcno" class="form-group hide">
		    	<label>Student Cntc No.</label>
		    	<input name= "cntc1"  type="text" id="schoolcode" class="form-control" placeholder="Student Cntc No." >
		    	<label>Parent Cntc No. 1</label>
		    	<input name= "cntc2"  type="text" id="schoolcode" class="form-control" placeholder="Parent Cntc No. 1" >
		    	<label>Parent Cntc No. 2</label>
		    	<input name= "cntc2"  type="text" id="schoolcode" class="form-control" placeholder="Parent Cntc No. 2 " >
		    	<label>Parent Email</label>
		      	<input name= "email_parent"  type="email" id="email" class="form-control" placeholder="Parent Email" >
		    </div>
		{% endif %}
	    <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit">SUBMIT</button>
	   
	    </form>
    </div>
	
	<script>
		
		
		$(document).ready(function(){

		    $('#student').click(function(){
				$("#teachercntcno").addClass("hide");
				$("#studentcntcno").removeClass("hide");
		    });
		    $('#teacher').click(function(){
		    	$("#studentcntcno").addClass("hide");
		    	$("#teachercntcno").removeClass("hide");
		    });

		});
	</script>

</body>
</html>
