{% extends 'base.html' %}
{% block content %}
<div class="container" style="width:100%;margin-top:50px;padding-left:50px; padding-right:50px;">
  	<h2 style="text-align:center;"><b>PROFILE</b></h2>
    <div>
      <div>
        <label>Username:</label>
        <h3>{{userdata.username}}</h3>
      </div><hr>
      {% if role == 3 or role == 4 %}
        <div>
          <label>First Name:</label>
          <h3>{{userdata.fname}}</h3>
        </div><hr>
        <div>
          <label>Last Name:</label>
          <h3>{{userdata.lname}}</h3>
        </div><hr>
        <div>
          <label>Birthdate:</label>
          <h3>{{userdata.birth_date}}</h3>
        </div><hr>
        <div>
          <label>gender:</label>
          <h3>{{userdata.sex}}</h3>
        </div><hr>
      {% endif %}
      <div>
        <label>Email:</label>
        <h3>{{userdata.email}}</h3>
      </div><hr>
      {% if role == 3 %}
      <div>
        <label>Contact Number:</label>
        <h3>{{userdata.teacher_cntc_1}}, {{userdata.teacher_cntc_2}}</h3>
      </div><hr>
      <div>
        <label>Qualification</label>
        <h3>{{userdata.qualification}}</h3>
      </div><hr>
      <div>
        <label>Expertise</label>
        <h3>{{userdata.expertise}}</h3>
      </div><hr>
      {% endif %}
      {% if role == 4 %}
      <div>
        <label>Student Contact Number:</label>
        <h3>{{userdata.student_cntc_1}}</h3>
      </div><hr>
      <div>
        <label>Parent Contact Details:</label>
        <h3>{{userdata.email_parent}}, {{userdata.parent_cntc_1}}, {{userdata.parent_cntc_2}}</h3>
      </div><hr>
      {% endif %}
      {% if role == 2 %}
      <div>
        <label>School Code:</label>
        <h3>{{userdata.schoolcode}}</h3>
      </div><hr>
      <div>
        <label>School Name:</label>
        <h3>{{userdata.schoolname}}</h3>
      </div><hr>
      <div>
        <label>No. of Teachers:</label>
        <h3>{{userdata.teachers}}</h3>
      </div><hr>
      <div>
        <label>No. of Students:</label>
        <h3>{{userdata.students}}</h3>
      </div><hr>
      {% endif %}
      <div>
        <label>Address:</label>
        <h3>{{userdata.address}}, {{userdata.city}}, {{userdata.pincode}}</h3>
      </div><hr>

    </div>
</div>
{% endblock %}
