{% extends 'base.html' %}
{% block content %}
<div class="container" style="width:100%;margin-top:50px">
  	<h3 style="text-align:center;"><b>All Schools</b></h3>
  	<table class="table table-bordered">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Date Joined</th>
        <th>Still Active</th>

      </tr>
    </thead>
    <tbody>
    	{% for i in schools %}
	    	<tr>
		  		<td>{{i.username}}</td>
		  		<td>{{i.email}}</td>
		  		<td>{{i.date_joined|date:"M d, Y"}}</td>
		  		<td>{{i.is_active}}</td>

		  	</tr>
  		{% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
