{% extends 'base.html' %}
{% block content %}
<div class="container" style="width:100%;margin-top:50px">
  	{% if role == 2 %}
    <h3 style="text-align:center;"><b>Student List</b></h3>
    <table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>User Name</th>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Email</th>
	        <th>Date Joined</th>
	        <th>Still Studing</th>
	        <th>Gender</th>
	      </tr>
	    </thead>
	    <tbody>
	    	{% for i in students %}
		    	<tr>
			  		<td>{{i.username}}</td>
			  		<td>{{i.first_name}}</td>
			  		<td>{{i.last_name}}</td>
			  		<td>{{i.email}}</td>
			  		<td>{{i.date_joined|date:"M d, Y"}}</td>
			  		<td>{{i.is_active}}</td>
			  		<td>{{i.userrole.sex}}</td>
			  	</tr>
	  		{% endfor %}
	    </tbody>
	{% endif %}
	{% if role == 3 %}
  <h3 style="text-align:center;"><b>Student Report</b></h3>

  <div>
    <span class="label label-success">{{class}}</span>
    <span class="label label-success">{{subject}}</span>
    <span class="label label-success">{{year}}</span>
</div><br>
  <table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>User Name</th>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th >Email</th>
	        {% for i in exams %}

	        	<th colspan="3">{{i}}
	        	</th>
	        {% endfor %}
	      </tr>
	    </thead>
	    <tbody>
	    	{% for i in students %}
		    	<tr>
			  		<td>{{i.username}}</td>
			  		<td>{{i.first_name}}</td>
			  		<td>{{i.last_name}}</td>
			  		<td>{{i.email}}</td>
			  		{% for j in i.progress.values %}
					  		<td>{{j.date}}</td>
					  		<td>{{j.total_marks}}</td>
					  		<td>{{j.obtained}}</td>

			  		{% endfor %}
			  	</tr>
	  		{% endfor %}
	    </tbody>
	{% endif %}
  </table>
</div>
{% endblock %}
<!-- </body>
</html> -->
