<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color: #123456; color:#FFFFFF" >
  <nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid" style="background-color:#123456">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/">School Manager</a>
	    </div>
	    <div class="collapse navbar-collapse" id="myNavbar">
	    <ul class="nav navbar-nav">
	      <li><a href="/">Home</a></li>
	      {% if role == 1 %}
	      	<li><a href="/createuser">Create School Account</a></li>
	      {% endif %}
	      {% if role == 2 %}
	      	<li><a href="/listallteachers">List All Teacher</a></li>
	      	<li  class="active"><a href="/listallstudents">List All Student</a></li>
	      	<li><a href="/createuser">Create New Account</a></li>
	      	<!-- <li><a href="/createuser">Create Student Account</a></li> -->
	      {% endif %}
	      {% if role == 3 %}
	      	<!-- <li><a href="/classlist">Class list</a></li> -->
	      	<li class="active"><a href="/studentlist">List All Student</a></li>
	      	<!-- <li><a href="/createuser">Create Student Account</a></li> -->
	      {% endif %}
	    </ul>
	    <ul class="nav navbar-nav pull-right">
	    	{% if role == 3 or role == 4 or role == 2%}
	    		<li><a href="/profile">Profile</a></li>
	    	{% endif %}
	    	<li><a href="/logout/" >Logout</a></li>

	    </ul>
	    </div>
	  </div>
	</nav>
<div class="container" style="width:100%;margin-top:50px">
  	{% if role == 2 %}
    <h3 style="text-align:center;"><b>Student List</b></h3>
    <table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>User Name</th>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th>Email</th>
	        <th>Date Joined</th>
	        <th>Still Studing</th>
	        <th>Gender</th>
	      </tr>
	    </thead>
	    <tbody>
	    	{% for i in students %}
		    	<tr>
			  		<td>{{i.username}}</td>
			  		<td>{{i.first_name}}</td>
			  		<td>{{i.last_name}}</td>
			  		<td>{{i.email}}</td>
			  		<td>{{i.date_joined|date:"M d, Y"}}</td>
			  		<td>{{i.is_active}}</td>
			  		<td>{{i.userrole.sex}}</td>
			  	</tr>
	  		{% endfor %}
	    </tbody>
	{% endif %}
	{% if role == 3 %}
  <h3 style="text-align:center;"><b>Student Report</b></h3>

  <div>
    <span class="label label-success">{{class}}</span>
    <span class="label label-success">{{subject}}</span>
    <span class="label label-success">{{year}}</span>
</div><br>
  <table class="table table-bordered">
	    <thead>
	      <tr>
	        <th>User Name</th>
	        <th>First Name</th>
	        <th>Last Name</th>
	        <th >Email</th>
	        {% for i in exams %}

	        	<th colspan="3">{{i}}
	        	</th>
	        {% endfor %}
	      </tr>
	    </thead>
	    <tbody>
	    	{% for i in students %}
		    	<tr>
			  		<td>{{i.username}}</td>
			  		<td>{{i.first_name}}</td>
			  		<td>{{i.last_name}}</td>
			  		<td>{{i.email}}</td>
			  		{% for j in i.progress.values %}
					  		<td>{{j.date}}</td>
					  		<td>{{j.total_marks}}</td>
					  		<td>{{j.obtained}}</td>

			  		{% endfor %}
			  	</tr>
	  		{% endfor %}
	    </tbody>
	{% endif %}
  </table>
  <!-- <table border="1">
            <thead>
                <tr>
                    <th>ABC</th>
                    <th>ABC</th>
                    <th colspan="3">ABC</th>
                    <th>ABC</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td rowspan="4">Item1</td>
                    <td rowspan="4">Item2</td>
                    <td colspan="2">Item1</td>
                    <td rowspan="4">Item1</td>
                </tr>
                <tr>
                    <td>Name1</td>
                    <td>Price1</td>
                    <td>Price1</td>
                </tr>
                <tr>
                    <td>Name2</td>
                    <td>Price2</td>
                    <td>Price1</td>
                </tr>
                <tr>
                    <td>Name3</td>
                    <td>Price3</td>
                    <td>Price1</td>
                </tr>
            </tbody>
        </table>
  	 -->
</div>

</body>
</html>
