{% extends 'base.html' %}
{% block content %}
<div class="container" style="width:100%;margin-top:50px">
  	<h3 style="text-align:center;"><b>All Teachers</b></h3>
  	<table class="table table-bordered">
    <thead>
      <tr>
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Date Joined</th>
        <th>Still Working</th>
        <th>Expertise</th>
        <th>Qualification</th>
        <th>Gender</th>
      </tr>
    </thead>
    <tbody>
    	{% for i in teachers %}
	    	<tr>
		  		<td>{{i.username}}</td>
		  		<td>{{i.first_name}}</td>
		  		<td>{{i.last_name}}</td>
		  		<td>{{i.email}}</td>
		  		<td>{{i.date_joined|date:"M d, Y"}}</td>
		  		<td>{{i.is_active}}</td>
		  		<td>{{i.userrole.expertise}}</td>
		  		<td>{{i.userrole.qualification}}</td>
		  		<td>{{i.userrole.sex}}</td>
		  	</tr>
  		{% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
